h1 {
	font-family: Arial, sans-serif;
}

button {
	border: 2px solid black;
	border-radius: 20px;
}

button:hover {
	border: 2px solid white;
	border-radius: 20px;
	background-color: black;
	color: white;
	transition: color 0.2s, radius, 0.2s;
}

button.xbtn {
	height: 100%;
	aspect-ratio: 1/1;
}

button.xbtn:hover {
	border: 2px solid white;
	border-radius: 20px;
	background-color: black;
	color: white;
	transition: color 0.2s, radius, 0.2s;
}